<div class="mt-4">
    <h3 class="mb-4">Cập nhật khóa học</h3>
    <form method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="form-group mb-4">
            <label for="name">Tên khóa học</label>
            <input type="text" class="form-control" value="{{course.name}}" id="name" name="name"/>
        </div>
        <div class="form-group mb-4">
            <label for="description">Mô tả</label>
            <textarea class="form-control" id="description" name="description">{{course.description}}</textarea>
        </div>
        <div class="videoID mb-4">
            <label for="videoID">Video ID</label>
            <input type="text" class="form-control" value="{{course.videoID}}" id="videoID" name="videoID"/>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Lưu lại</button>
    </form>
</div>